# This file contains production environment variables.

# The base URL for the backend API, used by the frontend
VITE_API_BASE_URL=https://timely.tier-zero.co.uk

# API key for Resend service
RESEND_API_KEY=your-resend-api-key

# The frontend origin for CORS policy
CORS_ORIGIN=https://timely.tier-zero.co.uk

# Env
ENVIRONMENT=production
JWT_SECRET=your-super-secret-jwt-key
PORT=3000

# Domain name for Traefik routing
DOMAIN_NAME=timely.tier-zero.co.uk
